# shellcheck disable=SC2148 # files that are sourced do not need shebangs
# aliases are defined in this file
# it is sourced from .profile

# ls aliases
alias ll="ls -alF"
alias la="ls -A"
alias l="ls -CF"

# directory aliases
alias ~="cd ~"
alias ..="cd .."
alias -- -="cd -"

# alert alias
# will notify user after previous command has finished
# usage:
#   command; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# temperature alias
# watches sensors command
alias "temp=watch -n 1 sensors"

# app shortcuts
alias "d=docker"
alias "py=python"
alias "o=xdg-open"
alias "open=xdg-open"

# git aliases
alias "g=git"
alias "gb=git branch"
alias "gbd=git branch -d"
alias "gbD=git branch -D"
alias "gbm=git branch -m"
alias "gca=git commit --amend"
alias "gch=git checkout"
alias "gcl=git clone"
alias "gd=git diff"
alias "gf=git fetch"
alias "gi=git init"
alias "gl=git log"
alias "gm=git merge"
alias "gp=git pull && git push"
alias "gpl=git pull"
alias "gps=git push"
alias "gpsf=git push --force"
alias "gr=git rebase"
alias "grs=git reset --hard"
alias "gs=git status"
alias "gst=git stash"
alias "gstp=git stash pop"
alias "gu=git reset --soft HEAD^"

# pip aliases
alias "pipf=pip freeze"
alias "pipi=pip install"
alias "pipir=pip install -r requirements.txt"
alias "pipih=pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org"
alias "pipl=pip list"
alias "pipu=pip uninstall"
