#!/usr/bin/env bash


# directory functions
/ () {
  cd /
}

# git functions
ga () {
  # git add
  if [ $# -eq 0 ]; then
      git add .
  else
      git add "$@"
  fi
}
gc () {
  # git commit
  if [ $# -eq 0 ]; then
    git commit
  else
    git commit -m "$*"
  fi
} 
gbc () {
  # git branch and checkout
  git branch "$1"
  git checkout "$1"
}
gbu () {
  # git branch set upstream
  git branch "--set-upstream-to=origin/$1" "$1"
}

# vscode function
c () {
  if [ $# -eq 0 ]; then
    code .
    exit
  else
    code "$*"
  fi
}

update () {
  # TODO: multiple distro support
  sudo apt update
  sudo apt upgrade -y
  sudo apt autoremove -y
}
